{% extends 'layout/base.html' %}

{% load static %}

{% block title %}BestThings{% endblock %}

{% block customCDNS %}
{% endblock %}

{% block customStyles %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="header-action">
                <h1 class="page-title">Sales</h1>
             
            </div>
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" id="list-tab" data-toggle="tab" href="#list"><i class="fa fa-list-ul"></i> List</a></li>
                <li class="nav-item"><a class="nav-link" id="addnew-tab" data-toggle="tab" href="#addnew"><i class="fa fa-plus"></i> Add New</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="list" role="tabpanel">
                <div class="table-responsive" id="users">
                    {{render_str}}
                </div>
            </div>
            
            <div class="tab-pane fade" id="addnew" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Company Name <span class="text-danger">*</span></label>
                                        <input class="form-control" id="company_name" type="text" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Mobile Number <span class="text-danger">*</span></label>
                                        <input class="form-control" oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" id="mobile_no" placeholder="Mobile Number" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" id="email" placeholder="Mail" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>Country <span class="text-danger">*</span></label>
                                        <select onchange="getStates(this.value, 'state')" id="country"  class="form-select">
                                           <option value="">Select Country</option>
                                            {% for i in country_list %}
                                                <option value="{{i.id}}">{{i.country_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>                                
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>State/Province <span class="text-danger">*</span></label>
                                        <select class="form-select" onchange="getStates(this.value, 'cities')"  id="state">
                                            <option value="" >Select State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>City <span class="text-danger">*</span></label>
                                        <select class="form-select" id="cities">
                                            <option value="" >Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label>Postal Code <span class="text-danger">*</span></label>
                                        <input class="form-control" oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" id="postal_code" placeholder="Postal code"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input class="form-control" id="phone_no" oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" placeholder="Phone Number" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input class="form-control" id="fax_no" placeholder="Fax Number" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right m-t-20">
                                    <button type="button" onclick="SaveSales(this)" class="btn btn-success">SAVE</button>
                                </div>
                            </div>
                        </form>
                        <div  id="add_products" style="display: none;"  >                        
                            <input type="hidden" name="" id="obj_id" value=""  >
                            <hr>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label>Select Service</label>
                                        <select class="form-select" onchange="getInventory('inventory_div')" id="category_id" name="select">
                                            <option value="">Select...</option>
                                            {% for i in catgory_obj %}
                                                <option value="{{i.id}}">{{i.category_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label>Product Number</label>
                                        <input type="number" onchange="getInventory('inventory_div')" id="product_no" class="form-control" placeholder="Enter Product Number">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label>Product Name</label>
                                        <input type="text" onchange="getInventory('inventory_div')"  id="product_name" class="form-control" placeholder="Enter Product Name">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="inventory_div">
                            </div>
                        </div >
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>



<div class="modal fade bs-example-modal-center " id="new_prod_model" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cat_h5">Select Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" name="" id="obj_id" >
            <div class="modal-body" style="background: #ffffff;" >
                <div class="row">
                    <div  >      
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>Select Service</label>
                                    <select class="form-select" onchange="getInventory('model_inventory_div')" id="model_category_id" name="select">
                                        <option value="">Select...</option>
                                        {% for i in catgory_obj %}
                                            <option value="{{i.id}}">{{i.category_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>Product Number</label>
                                    <input type="number" onchange="getInventory('model_inventory_div')" id="model_product_no" class="form-control" placeholder="Enter Product Number">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" onchange="getInventory('model_inventory_div')"  id="model_product_name" class="form-control" placeholder="Enter Product Name">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" id="model_inventory_div">
                        </div>
                    </div >
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block customScripts %}
	<script type="module" src="{% static 'adminpanel/panel_js/sales.js' %}"></script>

<script>

</script>

{% endblock %}