{% extends 'layout/base.html' %}


{% load static %}

{% block title %}BestThings{% endblock %}

{% block customCDNS %}{% endblock %}

{% block customStyles %}{% endblock %}

{% block breadcrumb %}
	<!-- <li class="breadcrumb-item active" aria-current="page"><strong style="font-size: larger;font-weight: bolder;">BUSSINESS Dashboard</strong></li> -->
{% endblock %}

{% block content %}
   
  <div class="section-body mt-4">
        <div class="container-fluid">
            <div class="row clearfix row-deck">
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body ribbon">
                            <div class="ribbon-box green" data-toggle="tooltip" title="" data-original-title="New Professors">{{service_count}}</div>
                            <a href="professors.html" class="my_sort_cut text-muted">
                                <i class="fa fa-black-tie"></i>
                                <span>Services</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body ribbon">
                            <div class="ribbon-box green" data-toggle="tooltip" title="" data-original-title="New Professors">{{sales_count}}</div>
                            <a href="app-contact.html" class="my_sort_cut text-muted">
                                <i class="fa fa-address-book"></i>
                                <span>Sales</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body ribbon">
                            <div class="ribbon-box green" data-toggle="tooltip" title="" data-original-title="New Professors">{{purchase_count}}</div>
                            <a href="app-filemanager.html" class="my_sort_cut text-muted">
                                <i class="fa fa-folder"></i>
                                <span>Purchased</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body ribbon">
                            <div class="ribbon-box green" data-toggle="tooltip" title="" data-original-title="New Professors">{{inven_count}}</div>
                            <a href="library.html" class="my_sort_cut text-muted">
                                <i class="fa fa-book"></i>
                                <span>Inventory</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -36px;" >
                <h3 class="card-title">Top Sales</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <ul>
                        <li>Companies</li>
                    </ul>
                    {% for i in comp_name %}
                        <li class="list-group-item mt-2">
                            <b>{{forloop.counter}}  </b> <i class="fa fa-star text-warning " ></i>
                            <div class="profile-desc-item pull-right">{{i.company_name}}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-header" style="margin-bottom: -36px;">
                <h3 class="card-title">Top Purchased</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <ul>
                        <li>Vendors</li>
                    </ul>
                    <li class="list-group-item mt-2">
                        {% for i in vendors %}
                        <div class="clearfix ">
                            <div class="float-left"><strong>{{i.vendor_name}}</strong></div>
                            <div class="float-right"><small class="text-muted">{{i.purch_count}} Products </small></div>
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block customScripts %}
	<script type="module" src="{% static 'adminpanel/assets/js/kycapproved.js' %}"></script>

<script>

</script>

{% endblock %}