{% extends 'layout/base.html' %}

{% load static %}

{% block title %}CCMS{% endblock %}

{% block customCDNS %}{% endblock %}

{% block customStyles %}{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item active" aria-current="page"><strong style="font-size: larger;font-weight: bolder;">BUSSINESS Dashboard</strong></li>
{% endblock %}

{% block content %}


{% endblock %}

{% block customScripts %}
	<script type="module" src="{% static 'adminpanel/assets/js/kycapproved.js' %}"></script>

<script>

</script>

{% endblock %}