{% extends 'layout/base.html' %}

{% load static %}

{% block title %}BestThings{% endblock %}

{% block customCDNS %}{% endblock %}

{% block customStyles %}{% endblock %}

{% block breadcrumb %}
	<!-- <li class="breadcrumb-item active" aria-current="page"><strong style="font-size: larger;font-weight: bolder;">BUSSINESS Dashboard</strong></li> -->
{% endblock %}

{% block content %}




<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vendor Info</h3>
            </div>
            <div class="card-body">
                <input type="hidden" name="" value="{{purch_obj.id}}" id="obj_id" >
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Vendor Code</label>
                            <input type="text" disabled id="vendor_code" value="{{purch_obj.vendor_code}}"  class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Vendor Details</label>
                            <input type="text" id="vendor_name" value="{{purch_obj.vendor_name}}"  placeholder="Vendor Details" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Purchased Date  </label>
                            <input type="date" id="purchased_dt" value="{{purch_obj.purchased_dt|date:'Y-m-d'}}"   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text"  id="phone" placeholder="Phone Number" value="{{purch_obj.phone}}" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Enter Your Email</label>
                            <input type="text" id="mail" placeholder="vendor@example.com" value="{{purch_obj.mail}}" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Ohter Link</label>
                            <input type="text" id="other_link" value="{{purch_obj.other_link}}" placeholder="Link" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mt-3">
                            <label>Note</label>
                            <textarea rows="4" id="note" class="form-control no-resize"   placeholder="Enter Note...">{{purch_obj.note}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 ">
                        <button type="button"  onclick="SavePurchased(this , '{{purch_obj.id}}')" class="float-end mx-2 btn btn-primary">Submit</button>
                        <button type="button" onclick="location.reload()" class="float-end btn btn-outline-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customScripts %}
	<script type="module" src="{% static 'adminpanel/panel_js/purchased.js' %}"></script>

<script>

</script>

{% endblock %}